@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Verdana, Tahoma, sans-serif;
}

body {
    background: linear-gradient(to right, #3B81F5, #22BF5F);
}

.container {
    margin: auto;
    width: 80%;
    height: 100vh;
    padding: 30px 20px;
    /* background-color: red; */
}

.to-do-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}

.heading {
    position: relative;
    color: #000;
}

form {
    width: 80%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#tasks {
    width: 600px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: 2px solid black;
    background-color: #fff;
}

#taskBtn {
    width: auto;
    height: auto;
    text-align: center;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: white;
}

#taskBtn:hover {
    outline: 2px solid gray;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    outline: none;
}

li {
    min-width: 300px;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 1px solid #eee;
    flex-wrap: wrap;
}

.delete-button {
    color: black;
    padding: 10px 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

input[type="checkbox"]:checked+.task-text {
    text-decoration: line-through;
    color: #888;
}

.task-text {
  flex: 1;                 /* take up remaining space */
  word-wrap: break-word;   /* break long words */
  overflow-wrap: break-word;
  white-space: normal;     /* allow wrapping inside the span */
}