@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  ---color-1: #E50914;
  ---color-2: #3B3B3B;
  ---color-3: #B3B3B3;
  ---color-4: #FFFFDA;
  ---color-5: #110F0F;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

/* Hero Header */

.main {
  height: 100vh;
  background-image: url(images/Netflix-bg.jpg);
  background-position: center -40px;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  position: relative;
}

.main .box {
  background-image: linear-gradient(
    7deg,
    rgba(0, 0, 0, 0.85) 10%,
    rgba(0, 0, 0, 0.8465) 17.25%,
    rgba(0, 0, 0, 0.8361) 24.5%,
    rgba(0, 0, 0, 0.8187) 31.75%,
    rgba(0, 0, 0, 0.7944) 39%,
    rgba(0, 0, 0, 0.7632) 46.25%,
    rgba(0, 0, 0, 0.725) 53.5%,
    rgba(0, 0, 0, 0.6868) 60.75%,
    rgba(0, 0, 0, 0.6556) 68%,
    rgba(0, 0, 0, 0.6312) 75.25%,
    rgba(0, 0, 0, 0.6139) 82.5%,
    rgba(0, 0, 0, 0.6035) 89.75%,
    rgba(0, 0, 0, 0.6) 97%
  );
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

/* Navigation */

nav {
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.7889) 8.333%,
    rgba(0, 0, 0, 0.7556) 16.67%,
    rgba(0, 0, 0, 0.7) 25%,
    rgba(0, 0, 0, 0.6222) 33.33%,
    rgba(0, 0, 0, 0.5222) 41.67%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.2778) 58.33%,
    rgba(0, 0, 0, 0.1778) 66.67%,
    rgba(0, 0, 0, 0.1) 75%,
    rgba(0, 0, 0, 0.04444) 83.33%,
    rgba(0, 0, 0, 0.01111) 91.67%,
    rgba(0, 0, 0, 0) 100%
  );
  position: relative;
  z-index: 2;
}

.navigation-bar {
  width: 1212px;
  height: 85px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

nav span {
  display: flex;
  align-items: center;
  margin: 0 0 0 16px;
}

/* Netflix Logo */

#logo {
  width: 9.25rem;
  height: 2.6rem;
}

/* Authentication Controls */

.auth-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.language-option {
  width: 122px;
  height: 32px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  border: 1px solid #5e5e5e;
  border-radius: 4px;
  background-color: rgba(17, 15, 15, 0.6);
  appearance: none;
  -webkit-appearance: none;
  position: relative;
}

.language-option option {
  color: #000;
  background-color: #fff;
}

.language-select-wrapper {
  position: relative;
}

.language-select-wrapper::before {
  content: url(images/language-icon.svg);
  position: absolute;
  left: 10px;
  top: 5px;
  z-index: 10;
  pointer-events: none;
}

.language-select-wrapper::after {
  content: url(images/CaretDownSmall.svg);
  position: absolute;
  right: 10px;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
}

/* Email Address */

#email-input {
  width: 440px;
  height: 54px;
}

/* Sign In Button */

#sign-in {
  min-height: 2rem;
  color: #fff;
  font-weight: 500;
  padding: 4px 16px;
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: var(---color-1);
}

/* Hero Section */

.hero {
  width: 100vw;
  margin-top: 40px;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.hero-content {
  width: 664px;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content span {
  width: 100%;
}

.hero-content span:nth-child(1) {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
}

.hero-content span:nth-child(2) {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero-content span:nth-child(3) {
  font-size: 16px;
  font-weight: 400;
  /* margin-bottom: 20px; */
}

/* Getting started */

.get-started {
  width: 100%;
  padding-top: 20px;
}

.get-started-btn {
  /* padding: 56px 214px; */
  height: 56px;
  width: 214px;
  border: none;
  border-radius: 5px;
}
